<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <ExdemoWeb.TaskComponents.control control={@control} />
  <%= for user <- @users do %>
    <ExdemoWeb.TaskComponents.user user={user} current_user={@current_user} />
  <% end %>
</div>
